.ocultar{
    display: none;
}

.aparecer{
    display: block;
}
.bg{
    background: linear-gradient(to bottom, rgba(92, 66, 86, 0.8) 0%, rgba(92, 66, 86, 0.8) 100%), url("../images/bg.jpg");
}

.center{
    text-align: center;
}

.bottom{
    text-align: end;
}

.font{
    font-family: 'Josefin Sans', sans-serif !important;
    color: white !important;
    /* font-size: 4rem !important; */
}

a{
    text-decoration: none;
}